<?xml version="1.0" ?>
<launch>
	<arg name="models_dir" default="/home/$(optenv USER)/.gazebo/models/" />
  <arg name="launch_delay" default="1.0"/>
  
  <node 
    name="cw3_world_spawner" 
    pkg="cw3_world_spawner" 
    type="world_spawner.py" 
    output="screen"
    launch-prefix="bash -c 'sleep $(arg launch_delay); $0 $@' ">
    <param name="models_dir" type="str" value="$(arg models_dir)"/>
  </node>

</launch>
