<?xml version="1.0" ?>
<model>
		<!-- this file is required for regular gazebo models, however note that in
				 the coursework world spawner package, this file is not needed or used
				 as the code searches directly for the model.sdf file -->
    <name>basket</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name></name>
        <email></email>
    </author>
    <description></description>
</model>
